body {
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     background-image: url(../images/body_back.png);
     width: 960px; 
     margin: 0;
     padding: 0;
     color: #777777;    
     margin-left: auto;
     margin-right: auto;
          
}

header {
    background-color: #ffffff;
    margin: 0;
    border-bottom: 2.5px #cccccc solid;
    height: 110px;
}
	
h1 {
    margin: 0;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 563px;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: -44px;
    border: 0px;
    border-radius: 3px;
}
 
	 



nav {
    
    float: right;
    background: #ffffff;
    position: relative;
    color: #cccccc;
    opacity: 0.8;
    left: -55px;
    text-decoration: none !important;
}

#about { 
    margin-right: 10px;
    padding-right: 10px;
    color: #cccccc;
    opacity: 0.9;
    border-right: 1px #cccccc solid; 

  }


#portfolio { 
    margin-right: 10px;
    padding-right: 10px;
    color: #cccccc;
    opacity: 0.9;
    border-right: 1px #cccccc solid;    

}

#contact {

    color: #cccccc;
    opacity: 0.9;
}

h2 { 

    color: #4aaaa5;
}

section {

    display: inline-block;
    float: left;
    width: 610px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #ffffff;
    margin: 40px 35px 60px 30px;
    padding: 20px;
    border:  1px #dddddd solid;
    border-radius: 6px;
 
}

.hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#text {
    float: left;
}

#face {
    float: left;
    margin-right: 20px; 
  }

aside {
    display: inline-block;
    float: left;
    width: 200px;
    padding: 20px;
    font-size: 14px;
    padding-top: 0px;
    align-content: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-top: 40px;
    background: #ffffff;
    border: 0px;
    border-radius: 6px;

}

#hangman1 {
    
    background-color: #4eeee5;
    position: absolute;
    bottom: 10px ;

}

.pictures {

    
    margin: 20px;

}

#links {
    
    margin-left: 20px;

}

#github {

    margin-right: 5px; 
    cursor: pointer;
}

#linkedin {

    cursor: pointer;
    margin-right: 5px; 
}

#forms {

    color: #777777;
    border: 0px;
    border-radius: 6px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.box {
    margin: 7px 0px 20px 0px;
    padding: 4px;
    border: 1px solid #cccccc;
    outline: none;
    box-shadow: 0px 0px 3px 1px #c8def0;
}


.box:focus {

    border: 1px solid #56b4ef;
    box-shadow: 0px 0px 3px 1px #c8def0;
}

#messagebox {

    margin: 7px 0px 20px 0px;
    padding: 3px;
    border: 1px solid #ccc;
    outline: none;

}

button { 

    background-color: #4aaaa5;
    border: 0;
    padding: 8px 25px 8px;
    font-size: 17px;
    margin-bottom: 10px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6px;

}

footer {

    clear: both;
	background-color: #666666;
    width: 100%;
    border-top:  #4aaaa5 10px solid; 
    
}

#footer_cointainer {

	margin: 0 auto;
    padding: 3%;
    height: 100px;
    
}

.copyright_text  {

    margin: 0 auto;
	padding: 3%;
	text-align: center;
	font-size: 10px;
	color: #e6e6e6;
	letter-spacing: 0.1em;
	line-height: 1.5em;


}