body {
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     background-image: url(../images/body_back.png) ;
     width: 960px; 
     margin: 0;
     padding: 0;
    color: #777777;
     margin-left:auto;
     margin-right:auto;
    
      
}



header {
    background-color: #ffffff;
    margin: 0;
    border-bottom: 2px #cccccc solid;
    height: 110px;
}
	
	  
	 h1 {
    margin: 0;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 563px;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: -44px;
}
 
	 



nav {
     border: red 2px solid; 
    float: right;
    background: #ffffff;
    position: relative;
    
    left: -55px;
    text-decoration: none !important
}

h2 { color: #4aaaa5; }

section {
        display: inline-block;
    float: left;
    width: 610px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #ffffff;
    margin-left: 30px;
    margin-right: 35px;
    margin-top: 40px;
    padding: 20px;

  
}

article {
    float: left;
}

aside {
     display: inline-block;
    float: left;
    width: 200px;
    padding: 20px;
    font-size: 14px;
    padding-top: 0px;
    align-content: center;
    
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 40px;
    /* border: red 2px solid; */
    background: #ffffff;
}



#links{
    
    margin-left: 20px;
}

#github{
    margin-right: 5px; 
}

#linkedin{
    margin-right: 5px; 
}

}

footer {
    clear: both;
	background-color: #666666;
    
    width: 100%;
    
    

    border-top:  #4aaaa5 10px solid; 
    margin: 0
}

#footer_cointainer {

	margin: 0 auto;
    padding: 3%;
    height: 100px;
    

}

.copyright_text  {
	
	
    margin: 0 auto;
	padding: 3%;
	text-align: center;
	font-size: 10px;
	color: #e6e6e6;
	letter-spacing: 0.1em;
	line-height: 1.5em;


}